h1,#id1,#id2,#id3,#id4{
    color: antiquewhite;
    background-color: black;
    text-align: center;
}
h1{
    margin-bottom: 0;
}
#div1,#b,#link{
    background-color: beige;
}
#div1{
    margin-top: 20px;
}
#b,#link{
    border-radius: 20px;
}
#div1{
    height: 100ppx;
}
#b{
    padding-bottom: 20px;
}
#div2{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 10px;
    height: 20px;
    margin-top: 300px;
    height: 20px
}
#b{
    font-size: larger;
}
h1{
    font-size: 30px;
    padding-top: 20px;
}
#id2,#id3,#id4{
    margin-left: 20px;
    text-decoration: none;
}
#div1{
    padding-left: 20px;
    padding-top: 20px;
}
